:root {
    --x: 45deg;
}

:root {
    --color-cyber-blue: #00a7f6;
    --color-cyber-black: #040713;
    --color-cyber-transparent-black: rgba(0, 0, 0, 0.8);
}

@font-face {
    font-family: '양진체';
    src: url('https://fastly.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.boosting-on-container {

    .center {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: right;
    }

    .outer {
        position: relative;
        /* margin: 0 50px; */
        background: #111;
    }

    .button {

        height: 70px;
        width: 220px;
        border-radius: 50px;

        border: 5px solid var(--color-cyber-blue);
        box-sizing: border-box;
        /* color: black; */
    }

    .button:hover {
        border: none;
        /* color: var(--color-cyber-blue); */
    }

    .circle {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .outer button,
    .outer span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .outer button {
        background: #111;
        color: #f2f2f2;
        outline: none;
        border: none;
        font-size: 20px;
        z-index: 9;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .button button {
        height: 60px;
        width: 210px;
        border-radius: 50px;
    }

    .circle button {
        height: 180px;
        width: 180px;
        border-radius: 50%;
    }

    .outer span {
        height: 100%;
        width: 100%;
        background: inherit;
    }

    .button span {
        border-radius: 50px;
    }

    .circle span {
        border-radius: 50%;
    }

    .outer:hover span:nth-child(1) {
        filter: blur(7px);
    }

    .outer:hover span:nth-child(2) {
        filter: blur(14px);
    }

    .outer:hover {
        background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
        animation: rotate 1.5s linear infinite;
    }

    @keyframes rotate {
        0% {
            filter: hue-rotate(0deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }
    }

    @media (max-width: 640px) {
        .center {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .outer {
            margin: 50px 0;
        }
    }
}




.value-container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
    max-height: 550px;
    width: 98%;
    gap: 20px;
    padding: 30px 0;
    /* border: 1px solid red; */

    a.value {
        position: relative;
        width: 100%;
        height: 90px;
        display: inline-block;
        border-radius: 5px;
        font-size: 24px;
        font-family: '양진체';
        text-align: center;
        line-height: 140%;
        /* padding-top: 36px; */
    }

    a.value i {
        position: absolute;
        inset: -2px;
        display: block;
        border-radius: 5px;
    }

    a.value i,
    a.value i:nth-child(2) {
        background: linear-gradient(var(--x), #00ccff, #0e1538, #0e1538, #d400d4);
    }

    a.value i:nth-child(1) {
        filter: blur(10px);
    }

    a.value span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        border: 1px solid #040a29;
        border-radius: 3px;
        background: rgba(14, 21, 56, 0.65);
        overflow: hidden;
    }

    a.value span::before {
        content: "";
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.075);
        transform: skew(25deg);
    }
}










.license-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* gap: 16px; */
    padding-top: 50px;

    a {
        width: 100%;
        position: relative;
        display: inline-block;
        font-size: 20px;
        color: #0ef;
        text-decoration: none;
        border: 2px solid #0ef;
        padding: 10px;
        z-index: 1;
        overflow: hidden;
        transition: color 0.5s, box-shadow 0.5s;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
    }

    a:hover {
        transition-delay: 0s, 0.5s;
        color: transparent;
        box-shadow:
            0 0 10px #0ef,
            0 0 20px #0ef,
            0 0 40px #0ef,
            0 0 80px #0ef,
            0 0 160px #0ef;
    }

    a::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50px;
        width: 0;
        height: 100%;
        background: #0ef;
        transform: skewX(35deg);
        transition: 0.5s;
    }

    a:hover:before {
        width: 100%;
    }

    a::after {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 5;
        position: absolute;
        top: 0px;
        left: -100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        transition: 0.5s;
        padding: 10px;
        font-weight: bold;
    }

    a:nth-of-type(1):after {
        content: '정보통신산업기사';
    }

    a:nth-of-type(2):after {
        content: '컴퓨터활용능력 2급';
    }

    a:nth-of-type(3):after {
        content: '유통관리사';
    }

    a:nth-of-type(4):after {
        content: '정보기기운용기능사';
    }

    a:nth-of-type(5):after {
        content: '태권도 3단';
    }

    a:hover:after {
        opacity: 1;
        left: 0px;
    }
}




































:root {
    --glow-hue: 222deg;
    --shadow-hue: 180deg;
    --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
            1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
            1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
            0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
            0.998 84%, 1);
    --spring-duration: 1.33s;
    --color-cyber-blue: #00a7f6;
}

@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.character-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;    
    /* border: 1px solid red; */
    overflow: visible;
    width: 450px;
    height: 600px;    
    margin: 0 auto;    

    button {
        color: var(--bg);
        font-weight: 600;
        /*     background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5); */
        background-image: linear-gradient(315deg,
                #ffc4ec -10%,
                #efdbfd 50%,
                #ffedd6 110%);
        padding: 15px 0;        
        position: relative;
        isolation: isolate;
        box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue), 10%, 90%, 95%);
        border-radius: 0.66em;
        scale: 1;
        transition: all var(--spring-duration) var(--spring-easing);
        cursor: pointer;
    }

    button:hover:not(:active),
    button.active {
        transition-duration: calc(var(--spring-duration)*0.5);
        scale: 1.2;
        box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
    }

    button:active {
        scale: 1.1;
        transition-duration: calc(var(--spring-duration)*0.5);
    }

    .shimmer {
        position: absolute;
        inset: -40px;
        border-radius: inherit;
        mask-image: conic-gradient(from var(--shimmer, 0deg),
                transparent 0%,
                transparent 10%,
                black 36%,
                black 45%,
                transparent 50%,
                transparent 60%,
                black 85%,
                black 95%,
                transparent 100%);
        mask-size: cover;
        mix-blend-mode: plus-lighter;
        animation: shimmer 1s linear infinite both;
    }

    button:hover .shimmer::before,
    button:hover .shimmer::after,
    button.active .shimmer::before,
    button.active .shimmer::after {
        opacity: 1;
        animation: shine 1.2s ease-in 1 forwards;
    }

    .shimmer::before,
    .shimmer::after {
        transition: all 0.5s ease;
        opacity: 0;
        content: "";
        border-radius: inherit;
        position: absolute;
        mix-blend-mode: color;
        inset: 40px;
        pointer-events: none;
    }

    .shimmer::before {
        box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
            0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
            0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
            0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
        z-index: -1;
    }

    .shimmer::after {
        box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
            inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
            inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
        z-index: 2;
    }

    button .text {
        color: #000;
        font-size: 32px;
        background-clip: text;
        background-color: var(--bg);
        background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue), 100%, 80%, 0.66) 40%, hsla(var(--glow-hue), 100%, 90%, .9) 50%, transparent 52%);
        background-repeat: no-repeat;
        background-size: 300% 300%;
        background-position: center 200%;
    }

    button:hover .text,
    button.active .text {
        animation: text .66s ease-in 1 both;
    }

    button:hover {
        background-image: #000;
    }

    button:hover span.text {
        color: red;
    }

    button:hover p.korean-text {
        color: blue;
    }

    span.text {
        color: #66023C;
        font-family: 'SEBANG_Gothic_Bold';
    }

    p.korean-text {
        margin-top: -3px;
        font-family: 'SEBANG_Gothic_Bold';
    }

    button {
        width: 100%;
    }

    /* div.mbti {
        border: 1px solid red;
    } */

    div.mbti p {
        color: gray;
        font-size: 36px;
        font-weight: bold;
        font-family: 'SEBANG_Gothic_Bold';

    }
}

@property --shimmer {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
}


@keyframes shimmer {
    0% {
        --shimmer: 0deg;
    }

    100% {
        --shimmer: 360deg;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes text {
    0% {
        background-position: 100% center;
    }

    100% {
        background-position: -100% center;
    }
}