@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    transition: 0.5s;
}

.accordion-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-container::before {
    content: "";
    background-image: url(images/great-wall.jpg);
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: brightness(0.25);
    z-index: -1;
}

.profile-accordion {
    width: 600px;
    height: 500px;
    display: flex;
    gap: 15px;
}

/* .accordion-card {
    width: 20%;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
} */


/* .accordion-card .accordion-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


/* .accordion-card .accordion-background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(0.25);
    opacity: 0;
} */


/* .accordion-card .accordion-layer {
    width: 100%;
    height: 50%;
    margin-top: -250px;
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
} */

/* .accordion-card .accordion-layer .accordion-info {
    width: 260px;
    position: absolute;
    bottom: 10px;
    padding: 20px;
    opacity: 0;
} */

/* .accordion-info p {
    color: rgba(255, 255, 255, 0.75);
    margin-top: 5px;
} */

.accordion-card {
    width: 20%;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;

    .accordion-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .accordion-background {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        pointer-events: none;
        filter: brightness(0.25);
        opacity: 0;
    }

    .accordion-layer {
        width: 100%;
        height: 50%;
        margin-top: -250px;
        position: relative;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);

        .accordion-info {
            width: 260px;
            position: absolute;
            bottom: 10px;
            padding: 20px;
            opacity: 0;

            p {
                color: rgba(255, 255, 255, 0.75);
                margin-top: 5px;
            }
        }
    }
}

.accordion-card:hover {
    width: 80%;

    .accordion-image {
        transform: scale(1.2);
    }

    .accordion-background {
        opacity: 1;
    }

    .accordion-layer {
        opacity: 1;

        .accordion-info {
            opacity: 1;
        }
    }
}




/* .accordion-card:hover .accordion-layer .accordion-info {
    opacity: 1;
}

.accordion-card:hover .accordion-background {
    opacity: 1;
}

.accordion-card:hover .accordion-image {
    transform: scale(1.2);
}

.accordion-card:hover {
    width: 80%;
} */